@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
@import url(../img/svg/style.css);
#header .wrapper {
  max-width: 1366px;
  height: 100%; }

#main .main__show, .main__news {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto; }

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #333333; }
  a:visited {
    text-decoration: none;
    color: #333333; }
  a:focus,
  a :active {
    outline: none; }
  a:hover {
    text-decoration: none; }

aside,
nav,
footer,
header,
section,
main {
  display: block; }

h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; }

ul {
  list-style: none; }

img,
svg {
  vertical-align: top;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover; }

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit; }

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus,
input:active,
button:focus,
button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

@media screen and (max-width: 1280px) {
  #main .main__show {
    height: 600px !important; }
    #main .main__show .wrapper__show .show__child_1 {
      max-width: 300px;
      height: 400px; }
    #main .main__show .wrapper__show .div__img__watch {
      max-width: 250px;
      height: 250px !important; }
      #main .main__show .wrapper__show .div__img__watch img {
        max-width: 250px; }
  #main .wrapper__main .div__color {
    margin-right: 200px; }
  #main .main__slide {
    height: auto !important; }
    #main .main__slide .wrapper__slide {
      flex-direction: column; }
      #main .main__slide .wrapper__slide .slide__hiden {
        margin-left: 40px; }
    #main .main__slide .wrapper__slide__2 {
      justify-content: center;
      align-items: center;
      margin: 0;
      padding-left: 40px; }
      #main .main__slide .wrapper__slide__2 h1 {
        font-size: 45px;
        margin: 0; }
    #main .main__slide .rotate__div_2 {
      width: 500px;
      height: 500px;
      right: -300px; }
  #main .main__news .news__child_1 h1 {
    margin-top: 20px; }
  #main .main__news .news__child_2 {
    padding-top: 25px; }
    #main .main__news .news__child_2 .news__child_left {
      width: 150px; }
      #main .main__news .news__child_2 .news__child_left img {
        width: 100%;
        height: 100%; }
    #main .main__news .news__child_2 .news__child_right {
      width: 240px;
      height: 300px; }
      #main .main__news .news__child_2 .news__child_right img {
        width: 100%; }
  #footer .wrapper__footer {
    gap: 0; }
    #footer .wrapper__footer div {
      margin-right: 10px;
      margin-left: 10px; } }

@media screen and (max-width: 1024px) {
  #header .header__div__middle nav ul {
    gap: 0 !important; }
    #header .header__div__middle nav ul li {
      padding-right: 30px; }
      #header .header__div__middle nav ul li:last-child {
        padding-right: 0; }
      #header .header__div__middle nav ul li a {
        font-size: 14px; }
  #header .header__div__right div {
    left: 50px; }
  #header .header__div__right ._icon-heart:before {
    font-size: 16px; }
  #header .header__div__right ._icon-search:before {
    font-size: 14px; }
  #header .header__div__right ._icon-basket:before {
    font-size: 15px; }
  #main .wrapper__main .wrapper__text {
    left: 50px; }
  #main .wrapper__main .div__color {
    margin-right: 100px; }
  #main .wrapper__show .div__seeAll {
    bottom: 495px !important; }
  #footer .wrapper__footer {
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto; }
  #footer .footer__child_1 {
    margin: 0;
    margin-top: 60px;
    margin-left: 50px; }
  #footer .footer__child_4 {
    margin-right: 70px; } }

@media screen and (max-width: 927px) {
  #main .main__show {
    height: 500px !important; }
    #main .main__show .wrapper__show {
      gap: 0 !important; }
      #main .main__show .wrapper__show .div__seeAll {
        margin-right: 15px;
        bottom: 500px; }
      #main .main__show .wrapper__show .show__child_1 {
        max-width: 300px;
        height: 300px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center; }
        #main .main__show .wrapper__show .show__child_1 p {
          font-size: 10px;
          margin-right: 80px; }
        #main .main__show .wrapper__show .show__child_1 span {
          font-size: 10px;
          margin-right: 80px; }
        #main .main__show .wrapper__show .show__child_1 .div__img__watch {
          max-width: 150px;
          height: 150px !important; }
          #main .main__show .wrapper__show .show__child_1 .div__img__watch img {
            max-width: 150px; }
        #main .main__show .wrapper__show .show__child_1 .show__foot {
          justify-content: center; }
          #main .main__show .wrapper__show .show__child_1 .show__foot span {
            margin: 0; }
          #main .main__show .wrapper__show .show__child_1 .show__foot p {
            font-size: 12px; }
  .main__news .news__child_1 .news__icons {
    margin-top: 35px !important; } }

@media screen and (max-width: 767px) {
  #header .header__div__middle nav {
    display: none; }
  #header #div__menu__phone {
    display: block !important; }
  #header #div__phone {
    display: inline-block !important;
    position: absolute;
    left: 0;
    top: -320px;
    width: 100%;
    height: auto;
    z-index: -1;
    background-color: #FDFDFB;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s ease-in-out; }
    #header #div__phone.active {
      top: 85px;
      transition: 0.5s ease-in-out; }
  #header .phone__header {
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    #header .phone__header div {
      display: flex;
      gap: 20px; }
  #header .div_min_curr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 51px;
    width: 10px;
    height: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: #1b1a17;
    border: 1px solid #e6c8b4;
    border-radius: 50%;
    background: #e6c8b4; }
  #header .phone__main {
    width: 100%;
    padding: 30px 30px 10px 30px; }
    #header .phone__main nav ul li {
      padding: 0 0 20px 0; }
      #header .phone__main nav ul li a {
        font-size: 18px; }
  #header .clock {
    margin: 0 20px 0 20px !important;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #34626c;
    top: 7px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  #header .clock .top {
    position: absolute;
    width: 1px;
    height: 4px;
    background-color: #262626;
    left: 0;
    right: 0;
    margin: auto; }
  #header .clock .right {
    position: absolute;
    width: 4px;
    height: 1px;
    background-color: #262626;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
  #header .clock .bottom {
    position: absolute;
    width: 1px;
    height: 4px;
    background-color: #262626;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto; }
  #header .clock .left {
    position: absolute;
    width: 4px;
    height: 1px;
    background-color: #262626;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto; }
  #header .clock .center {
    height: 2px;
    width: 2px;
    background-color: #262626;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  #header .clock .hour {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 100s infinite linear; }
  #header .clock .hour:before {
    content: "";
    height: 15px;
    width: 2px;
    background-color: #262626;
    position: absolute;
    top: 10px; }
  #header .clock .minute {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    animation: time 60s infinite linear; }
  #header .clock .minute:before {
    position: absolute;
    content: "";
    background-color: #262626;
    height: 20px;
    width: 1px;
    top: 25px; }
  #header .clock .second {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 15s infinite linear; }
  #header .clock .second:before {
    position: absolute;
    content: "";
    background-color: #fd1111;
    height: 20px;
    width: 2px;
    top: 25px; }
  @keyframes time {
    to {
      transform: rotate(360deg); } }
  #main .main__slide .wrapper__slide {
    align-items: center; }
  #main .main__slide .rotate__div_2,
  #main .main__slide .rotate__div {
    display: none; }
  #main .main__news .news__child_1 {
    margin-left: 10px; }
    #main .main__news .news__child_1 h1 {
      font-size: 20px; }
    #main .main__news .news__child_1 p {
      font-size: 13px;
      margin-top: 10px; }
    #main .main__news .news__child_1 .news__icons {
      margin-top: 25px; }
  #main .main__news .news__child_2 {
    margin-right: 10px; }
  #main .wrapper__main {
    display: flex;
    justify-content: center !important;
    align-items: center;
    z-index: -2 !important; }
    #main .wrapper__main .wrapper__text {
      max-width: 400px;
      position: static; }
      #main .wrapper__main .wrapper__text h1 {
        max-width: 330px; }
    #main .wrapper__main .div__color {
      display: none; }
  #footer .footer__child_1 {
    margin: 65px; }
    #footer .footer__child_1 div img {
      width: 20px;
      height: 20px; }
    #footer .footer__child_1 div p {
      font-size: 10px; }
  #footer .footer__child_2 h2,
  #footer .footer__child_3 h2,
  #footer .footer__child_4 h2 {
    font-size: 12px;
    margin-bottom: 10px; }
  #footer .footer__child_2 p,
  #footer .footer__child_3 p,
  #footer .footer__child_4 p {
    margin-bottom: 5px; }
    #footer .footer__child_2 p a,
    #footer .footer__child_3 p a,
    #footer .footer__child_4 p a {
      font-size: 10px; }
  #footer .wrapper__footer {
    height: auto;
    flex-wrap: wrap; }
    #footer .wrapper__footer .footer__child_4 {
      margin-bottom: 15px; } }

@media screen and (max-width: 595px) {
  #main .main__show h1 {
    font-size: 20px !important; }
  #main .main__show .wrapper__show {
    justify-content: center;
    gap: 10px; }
    #main .main__show .wrapper__show .div__seeAll {
      width: 60px;
      font-size: 8px;
      padding: 0; }
    #main .main__show .wrapper__show .show__child_1 {
      max-width: 200px;
      height: 200px; }
      #main .main__show .wrapper__show .show__child_1 p {
        font-size: 10px;
        margin-right: 0; }
      #main .main__show .wrapper__show .show__child_1 span {
        font-size: 10px;
        margin-right: 0; }
      #main .main__show .wrapper__show .show__child_1 .div__img__watch {
        max-width: 100px;
        height: 100px !important; }
        #main .main__show .wrapper__show .show__child_1 .div__img__watch img {
          max-width: 100px; }
      #main .main__show .wrapper__show .show__child_1 .show__foot {
        justify-content: center; }
        #main .main__show .wrapper__show .show__child_1 .show__foot span {
          width: 10px;
          margin: 0; }
        #main .main__show .wrapper__show .show__child_1 .show__foot p {
          font-size: 9px; } }

@media screen and (max-width: 571px) {
  #header .header__div__right i,
  #header .header__div__right .div__curreint {
    display: none; }
  #main .main__slide .wrapper__slide__2 h1 {
    font-size: 28px; }
  #main .main__news .news__child_1 {
    margin-right: 10px; }
    #main .main__news .news__child_1 .news__icons ._icon-instagram_icon {
      font-size: 15px; }
    #main .main__news .news__child_1 .news__icons ._icon-facebook_icon {
      font-size: 13px; }
    #main .main__news .news__child_1 .news__icons ._icon-twitter_icon {
      font-size: 14px; }
    #main .main__news .news__child_1 h1 {
      font-size: 15px;
      line-height: 1.4; }
    #main .main__news .news__child_1 p {
      font-size: 10px;
      line-height: 1.4; }
    #main .main__news .news__child_1 .news__icons {
      margin-top: 18px; }
  #main .main__news .news__child_2 {
    margin-right: 10px; }
  #footer .wrapper__footer {
    justify-content: start;
    padding: 30px; }
    #footer .wrapper__footer .footer__child_1 {
      margin-top: 0;
      margin-bottom: 0px;
      margin-left: 0; }
    #footer .wrapper__footer .footer__child_2 {
      margin-top: 10px; }
    #footer .wrapper__footer .footer__child_3 {
      margin-top: 10px; }
    #footer .wrapper__footer .footer__child_4 {
      margin-top: 0;
      margin-bottom: 15px; } }

@media screen and (max-width: 480px) {
  #main .main__slide .wrapper__slide__2 {
    padding: 5px; }
  #main .main__news .news__child_2 .news__child_left,
  #main .main__news .news__child_2 .news__child_right {
    height: 190px; }
  #footer .wrapper__footer {
    padding: 10px;
    flex-direction: column; }
    #footer .wrapper__footer .footer__child_2,
    #footer .wrapper__footer .footer__child_2,
    #footer .wrapper__footer .footer__child_3,
    #footer .wrapper__footer .footer__child_4 {
      margin-left: 0; }
    #footer .wrapper__footer .footer__child_3 {
      margin-top: 0; }
  #footer .content {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out; }
  #footer .open__scroll {
    display: flex;
    justify-content: space-between; }
    #footer .open__scroll h2 {
      cursor: pointer; }
    #footer .open__scroll .arrow {
      width: 0;
      height: 0;
      border-top: 10px solid white;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      cursor: pointer;
      transform: rotate(0deg);
      transition: 0.3s ease-in-out; }
      #footer .open__scroll .arrow.active {
        transform: rotate(180deg);
        transition: 0.3s ease-in-out; } }

@media screen and (max-width: 390px) {
  #main .wrapper__slide .slide__hiden {
    margin: 0 8px !important; } }

html,
body {
  font-size: 14px;
  height: 100%; }

.wrapper__big {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

#header {
  background: #FDFDFB; }
  #header .wrapper {
    display: flex;
    justify-content: space-between;
    height: 85px;
    margin: 0 97px auto; }
    #header .wrapper .header__div__left,
    #header .wrapper .header__div__middle,
    #header .wrapper .header__div__right {
      display: flex; }

.header__div__left {
  padding-top: 31px; }
  .header__div__left p {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: #555248;
    padding-top: 2px; }

.header__div__middle {
  padding-top: 35px; }
  .header__div__middle nav ul {
    display: flex;
    gap: 65px; }
  .header__div__middle nav ul li a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #555248; }
    .header__div__middle nav ul li a:hover {
      color: #444240; }

.header__div__right {
  position: relative;
  gap: 23px; }
  .header__div__right i {
    padding-top: 35px; }
  .header__div__right #div__menu__phone {
    padding-top: 30px;
    cursor: pointer; }
  .header__div__right .div__curreint {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 53px;
    width: 13px;
    height: 13px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: #1b1a17;
    border: 1px solid #e6c8b4;
    border-radius: 50%;
    background: #e6c8b4;
    cursor: pointer; }
  .header__div__right ._icon-heart:before {
    font-size: 19px;
    cursor: pointer; }
  .header__div__right ._icon-search:before {
    font-size: 16px;
    cursor: pointer; }
  .header__div__right ._icon-basket:before {
    font-size: 17px;
    cursor: pointer; }

#main {
  flex: 1 1 auto; }
  #main .wrapper__main {
    width: 100%;
    height: 768px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #FDFDFB; }
  #main .wrapper__text {
    position: relative;
    left: 120px;
    top: 236px; }
    #main .wrapper__text h2 {
      width: 154px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      color: #1b1a17;
      margin-top: 15px;
      margin-left: 65px; }
    #main .wrapper__text p {
      width: 258px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: rgba(27, 26, 23, 0.82);
      margin-top: 39px;
      margin-left: 65px; }
    #main .wrapper__text button {
      width: 205px;
      height: 64px;
      background: #444240;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 64px;
      margin-left: 65px;
      border: 1px solid #444240;
      transition: background .3s ease-in-out; }
      #main .wrapper__text button:hover {
        background-color: #FDFDFB;
        color: #444240; }
  #main .text__child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; }
    #main .text__child span {
      width: 50px;
      height: 0px;
      border: 1px solid #8b8371; }
    #main .text__child h1 {
      width: 343px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 60px;
      color: #1b1a17; }
  #main .div__color {
    position: relative;
    width: 590px;
    height: 844px;
    border-left: 1px solid #eae3d4;
    border-radius: 50%;
    margin-right: 400px;
    background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #eae3d4 100%);
    mix-blend-mode: normal;
    transform: matrix(-1, 0, 0, 1, 0, 0); }
    #main .div__color .div__img {
      position: absolute;
      left: -193px; }
  #main .rado__text__abs_1,
  #main .rado__text__abs_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    gap: 15px; }
  #main .main__show {
    height: 720px;
    text-align: center;
    position: relative; }
    #main .main__show h1 {
      margin-top: 76px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 43px;
      color: #1b1a17; }
  #main .div__seeAll {
    width: 110px;
    border-bottom: 1px solid #c4c0b6;
    padding-bottom: 11px;
    position: absolute;
    bottom: 650px;
    right: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #444240;
    cursor: pointer; }
  #main .wrapper__show {
    display: flex;
    justify-content: space-between;
    margin-top: 52px; }
    #main .wrapper__show .show__child_1 {
      width: 370px;
      height: 467px;
      padding-top: 40px;
      padding-left: 28px;
      padding-right: 29px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: 0.5s ease-in-out;
      border-radius: 20px; }
      #main .wrapper__show .show__child_1:hover {
        box-shadow: 5px 5px 30px 5px #f3f3f3; }
      #main .wrapper__show .show__child_1 .div__img__watch {
        width: 313px;
        height: 313px;
        border-right: 1px solid rgba(212, 176, 152, 0.7);
        border-radius: 50%;
        filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
        width: clamp(313px, 100%, 350px);
        overflow: hidden;
        cursor: pointer; }
        #main .wrapper__show .show__child_1 .div__img__watch img {
          transition: 1s; }
          #main .wrapper__show .show__child_1 .div__img__watch img:hover {
            transform: scale(1.05); }
      #main .wrapper__show .show__child_1 .solid {
        display: flex;
        width: 30px;
        height: 0;
        border: 1px solid #8b8371; }
      #main .wrapper__show .show__child_1 .show__foot {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 18px;
        margin-top: 19px; }
  #main .show__child_1 {
    max-width: 370px; }
    #main .show__child_1 p {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: rgba(27, 26, 23, 0.82); }
    #main .show__child_1 span {
      font-family: "Prata";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: rgba(27, 26, 23, 0.82); }
    #main .show__child_1 .show__foot p {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #1b1a17; }
  #main .wrapper__slide {
    display: flex;
    overflow: hidden;
    justify-content: space-between; }
  #main .slide__hiden {
    max-width: 521px;
    height: 519px;
    overflow: hidden;
    margin-left: 177px;
    margin-top: 52px; }
  #main .main__slide {
    height: 519px;
    overflow: hidden;
    position: relative;
    background-color: #fdfdfb; }
    #main .main__slide .slide__div__img {
      position: relative;
      left: 0;
      max-width: 521px;
      height: 414px;
      display: flex;
      transition: all ease 1s; }
      #main .main__slide .slide__div__img img {
        max-width: 100%;
        height: 100%; }
  #main .management {
    position: relative;
    z-index: 1;
    max-width: 410px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 22px; }
    #main .management button {
      cursor: pointer; }
  #main .back__color {
    position: absolute;
    background-color: #f7f5ef;
    width: 468px;
    height: 519px; }
  #main .wrapper__slide__2 {
    display: flex;
    flex-direction: column;
    margin-right: 283px;
    padding-left: 70px; }
    #main .wrapper__slide__2 h1 {
      margin-top: 140px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 43px;
      color: #1b1a17; }
    #main .wrapper__slide__2 p {
      padding-top: 38px;
      max-width: 376px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #444240; }
    #main .wrapper__slide__2 button {
      width: 205px;
      height: 64px;
      background: #d4b098;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      color: #ffffff;
      margin-top: 45px;
      border: 1px solid #d4b098;
      transition: background 0.3s ease-in-out; }
      #main .wrapper__slide__2 button:hover {
        background-color: #fdfdfb;
        color: #d4b098; }
  #main .rotate__div {
    position: absolute;
    width: 365.16px;
    height: 365.16px;
    top: -170px;
    right: -170px;
    border-radius: 50%;
    border: 1px solid #d4b098;
    transform: rotate(-28.35deg); }
  #main .rotate__div_2 {
    position: absolute;
    width: 744.38px;
    height: 744.38px;
    right: -530px;
    top: 0;
    border: 1px solid;
    border-radius: 50%;
    border: 1px solid #d4b098;
    transform: rotate(-28.35deg); }

.main__news {
  display: flex;
  justify-content: center;
  margin-top: 81px;
  margin-bottom: 90px;
  height: auto;
  max-width: 100%; }
  .main__news .news__child_1,
  .main__news .news__child_2 {
    max-width: 50%;
    height: 100%; }
  .main__news .news__child_1 {
    margin-right: 71px; }
    .main__news .news__child_1 .news__icons {
      display: flex;
      gap: 18px; }
      .main__news .news__child_1 .news__icons ._icon-instagram_icon {
        font-size: 23px; }
      .main__news .news__child_1 .news__icons ._icon-facebook_icon {
        font-size: 20px; }
      .main__news .news__child_1 .news__icons ._icon-twitter_icon {
        font-size: 20px; }
    .main__news .news__child_1 h1 {
      max-width: 471px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 43px;
      color: #1b1a17;
      margin-top: 140px; }
    .main__news .news__child_1 p {
      max-width: 376px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #444240;
      margin-top: 40px; }
    .main__news .news__child_1 .news__icons {
      margin-top: 121px; }
  .main__news .news__child_2 {
    display: flex;
    gap: 10px; }
    .main__news .news__child_2 .news__child_left img {
      max-width: 242px;
      max-height: 228px;
      object-fit: cover; }
    .main__news .news__child_2 .news__child_right img {
      max-width: 377px;
      max-height: 460px;
      object-fit: cover; }
  .main__news .news__child_left {
    display: flex;
    flex-direction: column;
    gap: 10px; }

#footer {
  width: 100%;
  height: 40px;
  background-color: #444240; }

.wrapper__footer {
  width: 100%;
  min-height: 275px;
  background: #444240;
  display: flex;
  gap: 118px;
  justify-content: space-between; }
  .wrapper__footer .footer__child_1 {
    margin-top: 69px;
    margin-left: 182px; }
    .wrapper__footer .footer__child_1 .child_1_1 {
      max-width: 130px;
      height: 34px;
      display: flex;
      align-items: flex-end;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.14em;
      color: #ffffff; }
    .wrapper__footer .footer__child_1 .child_1_2 {
      margin-top: 23px;
      max-width: 160px;
      height: 35px; }
      .wrapper__footer .footer__child_1 .child_1_2 p {
        width: 127px;
        height: 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75); }
      .wrapper__footer .footer__child_1 .child_1_2 .p2 {
        margin-top: 15px; }
  .wrapper__footer .footer__child_4 {
    margin-right: 183px; }
  .wrapper__footer .footer__child_2,
  .wrapper__footer .footer__child_3,
  .wrapper__footer .footer__child_4 {
    margin-top: 79px; }
    .wrapper__footer .footer__child_2 h2,
    .wrapper__footer .footer__child_3 h2,
    .wrapper__footer .footer__child_4 h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 33px; }
    .wrapper__footer .footer__child_2 p,
    .wrapper__footer .footer__child_3 p,
    .wrapper__footer .footer__child_4 p {
      margin-bottom: 15px; }
      .wrapper__footer .footer__child_2 p a,
      .wrapper__footer .footer__child_3 p a,
      .wrapper__footer .footer__child_4 p a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75); }
        .wrapper__footer .footer__child_2 p a:hover,
        .wrapper__footer .footer__child_3 p a:hover,
        .wrapper__footer .footer__child_4 p a:hover {
          color: #FDFDFB; }
