//? Основные цвета
$mainColor_1: #FDFDFB;
$mainColor_2: #D4B098;
$mainColor_3: #444240;


//* НАСТРОЙКИ ===========================================

//? Минимальная ширина страницы
$minWidth: 320;
//? Ширина полотна (макета)
$maxWidth: 1366px;
//? Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170px;
//? Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontSize: 14px;
//? Шаблон
%container-all{
  max-width: $maxWidth;
  height: 100%;
}
%container-min{
  max-width: $maxWidthContainer;
  height: 100%;
  margin: 0 auto;
}